style.
    hr.thick{
        height:5px;
    }
    body{
        margin-left:5%; 
        margin-right:5%;
        margin-bottom:10%px;
        margin-top: 2%;
    }
    input, textarea, select{ 
        background-color:lightgrey;color:blue;
    }

    .caption{color:blue;}
    .blue{color:blue;}
    .gray{color:gray;}
    .lightgray{color:lightgray;}
    .red{color:red;}
    .RebeccaPurple{color:RebeccaPurple;}
    .maroon{color:maroon ;}
    .hint{color:gray;font-size:0.9em;}
    .row{margin-bottom:10px;}
    .row select,textarea{
        width:80%;
    }
    a {text-decoration: none;}

    form.inline > div{
        visibility:hidden;
    }
    form.inline *{
        display: inline-block;
    }
    form.inline>div>input[type='text'],select,textarea{
        width: 373px;
    }

    //- 提交按钮图标
    form.inline>div>input[type='submit']{ 
        width:36px;
        height: 27px;
        border:none; 
        
        background-repeat:no-repeat;
        background-size:100% 100%;
        background-image: url('/public/static/ok-thick.png');
        }
    

    button>img{
        height:1em;
    
    }