

nav(class="navbar navbar-expand-md bg-dark navbar-dark")
    a(class="navbar-brand" id="filter" href="#"): b 巡视系统&gt;请选择：
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="collapsibleNavbar")
        ul(class="navbar-nav")
          li(class="nav-item"): a(class="nav-link" id="create" href=`${MOUNT}/create`) 新建巡视记录            
            li(class="nav-item"): a(class="nav-link" id="7d" href="#") 最近一周            
            li(class="nav-item"): a(class="nav-link" id="all" href="#") 所有
            li(class="nav-item"): a(class="nav-link" id="my" href="#") 我的所有
            li(class="nav-item"): a(class="nav-link" id="expand" href="#") 点击展开/收回搜索选项


