div.d-flex
    div.col-xs-12.col-md-6
        nav.navbar.navbar-expand-sm.bg-light
            ul.navbar-nav                    
                li.nav-item
                    .nav-link: a(href="/my/account") 我的帐号  
                li.nav-item
                    .nav-link: a(href="/my/own_projects") 我拥有的项目
                li.nav-item                    
                    .nav-link: a(href="/my/current_project") 切换当前项目



                    

