doctype html
html
    head
        include ../../../public/html/_head.pug

    body
        include ../../../public/html/_menu_top.pug
        include ../../../public/html/_header.pug
        hr


        block navbar
        block content