<!DOCTYPE html>
<html>
    <head>
        <%- include("./include/head.ejs") %>
        <style>
            h1{margin:50px 20px 50px 20px;}
            p{  font-size: 1.6em;
                margin: 30px 10px 10px 10px;
            }
            #address{margin-right: 20px;}

        
        </style>
    </head>

    <body>

        <div class="container" >
            <h1 class="text-center">关于监理巡视记录系统程序的情况说明</h1>
            <p class="mygs text-center">2022年11月23日</p>
            <hr>

            
            <p>这是一个有想法的小团队基本在业余时间打造的网站系统！</p>

            <p>本网站-监理巡视记录系统-是在<span class="text-primary em">袁坚平</span>先生的总体规划及提供具体设想的基础上建设起来的，在项目的磊彻过程中，袁先生与业余码农进行了多次的探讨与评审，将各个功能逐步进行了澄清与完善，并且组织进行了程序的试用与反馈。在程序开发的过程中，他给予了支持，鼓励，指明的方向，也指出了未来的愿景。没有袁先生的牵头，本程序是不可能做到现在的阶段的，尽管现阶段还有很多地方可以进一步的完善。在这里一定要感谢袁总！</p>

            <p>作为公司大歌剧院项目监理的首长，<span class="text-primary em">孙清扬</span>总给予了莫大的不可言语的支持，他给了极大的精神方面的鼓励，在宏观上给予了引领，在此必需感谢孙总的支持！</p>

            <p>在项目为的测试阶段，项目部的同事们积极进行测试使用，并反馈使用情况，问题与建议。在程序使用还不顺利的时候依然能够坚持使用，对程序的不完善给与了很大的包容与耐心。在此需要感谢我们非常好的同事：
                <span class="text-primary em">张帅（大）</span>,<span class="text-primary em">张帅（小）</span>,
                <span class="text-primary em">罗伟 </span>,<span class="text-primary em"> 徐畅 </span>,
                <span class="text-primary em">秦铋浩</span>,<span class="text-primary em"> 赖虹宇</span>。谢谢你们！</p>

            <p>该项目于2020年上半年上海疫情封城结束复工后提出并尝试着启动，于2022年10月16日第一版上线进行测试，在经过一个多月时间的改进后，于2022年11月23日第二版上线进行测试使用。其间作为具体实施者，花了不少的时间查阅资料，为每一个碰到的问题寻找答案，经过相当长时间的不懈努力，终于把看起来更好的一个版本显现在大家面前进行进一步的使用考验。</p>

            <p>在这一段时间里，业余码农怀着一颗激动又有期盼的心情，夜以继日地工作着，多少的夜晚因为脑子想着相关的一些事而不能安静地入睡或失眠，以至于在中秋前夕身体出现在情况。在出现情况的时候得到孙总与袁总的巨大关怀，在此表示感谢！</p>

            <p>本程序第二版上线了，心里有些小激动，也很有一些成就感。</p>

            <p>本程序还将持续地间断地进行改进与完善......</p>

            <p>谢谢！</p>

            <div id="address" class="text-right">
                <address>
                    <strong>毛宇红</strong><br>
                    2022年11月23日<br>
                    上海大歌剧院项目监理部<br>
                    18621890022<br>
                    <a href="mailto:yhmao@hotmail.com">yhmao@hotmail.com</a>
                </address>
            </div>

        </div>



        <br><br><hr>
        <p class="text-muted small">Copyright © 2022 SGOH by myh</p>
        <br>
        <br>



    </body>
</html> 

