


<h1>Login</h1>
<form action="/login" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" required autofocus>
    </section>
    <section>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required>
    </section>
    <section>
        <label for="remember_me">Remember Me</label>
        <input id="remember_me" name="remember_me" type="checkbox" value="yes" checked>
    </section>
    <button type="submit">Login</button>
</form>

<br>
<br>

<button id='register' name='register'><a href="/register">新用户注册</a></button>
