

<h2>欢迎使用上海大歌剧院项目监理记录系统</h2>

<p>由本系统正在进一步开发完善阶段，可能不定期进行升级，其间可能出现数据丢失或暂时运行出错，所以在正式版推出之前请将您的重要数据进行备份，在使用遇到问题希望可以及时反馈给开发者。</p>
<br>
<p>本系统仅到上海大歌剧院项目组成员开放，您在使用前需要进行用户注册及登录。</p>
<p>注册请使用您的真实中文姓名与可用的电话号码，以方便进行信息的管控及我们内部沟通之用。</p>
<br>

<p>您可以登录后添加您自己的记录，添加记录时您可以添加文字，图片，备注等。</p>
<p>您可以在任何人的记录后面添加您的评论。</p>
<p>您可以修改您自己做的记录或者评论，包括更改文字，替换图片等。</p>
