


<form action="/record_new" method="post" enctype="multipart/form-data">
  <input type="text" id="project" name="project" value="SGOH"/>
  <input type="text" id="profession" name="profession" placeholder="input profession" />
  <input type="text" id="region" name="region" placeholder="input region" />
  <input type="text" id="text" name="text" placeholder="input text description" />
  <input type="file" id="file" name="file">
  <input type="text" id="caption" name="caption" placeholder="input attachment caption text" />
  <button type="submit" name="submit">Submit</button>
</form>
