


<form action="/record_new" method="post" enctype="multipart/form-data">

  project项目:<input type="text" id="project" name="project" value="SGOH"/><br><br>

  profession专业:  <%- include("./include/select_profession.ejs") %>
  zone选择区域:<select name="zone" id="zone">
    <option value="" selected>请选择区域</option>
    <% for (var i=0; i < zones.length; i++){ %>
      <option value="<%= zones[i].zoneCode %>"> <%= zones[i].zoneCode %> | <%= zones[i].zoneDescription %> </option>
    <% } %>
  </select><br><br>

  title标题:<input type="text" id="title" name="title" placeholder="请输入本项记录标题"><br><br>

  text说明文字:

  <!-- <input type="text" id="text" name="text" placeholder="input text description" /><br><br> -->
  <textarea id="text" name="text" rows="4" cols="80" placeholder="input text description"></textarea>

  file选取上传文件:<input type="file" id="file" name="file"><br><br>

  caption图注<input type="text" id="caption" name="caption" placeholder="input attachment caption text" /><br><br>

  <input type="checkbox" id="exposure" name="exposure" value="private">
  <label for="exposure">设为私密，仅自己可见。</label><br><br>

  <button type="submit" name="submit">Submit</button>

</form>
