<!DOCTYPE html>
<html lang="en">
	<head>
    <%- include("./include/head.ejs") %>
	</head>

	<body>
    <%- include("./include/header.ejs") %>

		<header>


		<ul class="nav nav-pills">
			<li class="nav-item " ><a href="#" class="nav-link active">首页</a></li>
			<li class="nav-item " ><a href="/record_patrol_my" class="nav-link ">我的</a></li>
			<li class="nav-item"><a href="/home/notice" class="nav-link">公告</a></li>
			<li class="nav-item"><a href="/record_patrol_menu" class="nav-link">列表</a></li>
			<!-- <li class="nav-item"><a href="/0" class="nav-link">更多</a></li> -->

			<li class="nav-item"><a href="/logout" class="nav-link">登出</a></li>
			<% if (user.role == 'admin') { %>
				<li class="nav-item"><a href="/admin" class="nav-link">管理员</a></li>
				<li class="nav-item"><a href="/test/index" class="nav-link">Test</a></li>

			<% } %>

		</ul>

			<!--
			<a href="/home/notice"><button>说明与公告</button></a>
			<a href="/login"><button>登录</button></a>
			<a href="/logout"><button>登出</button></a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% if(user.role == 'admin'){ %>
				<a href="/admin"><button class="btn btn-secondary">... ...</button></a><br>
			<% } %>
			-->


			<% if (user.username === undefined) { %>
				亲爱的用户，你还没有登录,请先<b><a href='/login'>登录</a>。</b>。
			<% }else { %>
				亲爱的  <b><%= user.username %></b> ,欢迎你使用监理巡视系统！
			<% } %>

			<hr>
		</header>

		<section class="d-flex">
			<aside >
				巡视工作现在开始......<br><br>
				<ul id="ul_routine"><a href="/record_patrol_new?patrolType=routine"><button class="btn btn-primary btn-lg">开始日常巡视记录</button></a></ul>
				<br>
				<ul id="ul_safety"><a href="/record_patrol_new?patrolType=safety"><button class="btn btn-primary btn-lg">开始安全巡视记录</button></a></ul>
				<br>
				<ul id="ul_safety"><a href="/record_patrol_list/my"><button class="btn btn-secondary btn-lg">我的所有记录</button></a></ul>
				<br>
				<ul id="ul_safety"><a href="/record_patrol_menu"><button class="btn btn-secondary btn-lg">我的负责跟踪</button></a></ul>
				<br>

			</aside>


		</section>

    <%- include("./include/footer.ejs") %>


	</body>

</html>
