<%- include('./include/head') %>
<!--import moment-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous">
</script>


<%= user.username %> | <%= user.role %> |
<a href="/home"><button class="btn btn-sm btn-secondary">首页</button></a>
<hr>

<div>
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" id="filter" href="#"><b>请选择筛选条件</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="today" href="#">今天</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="yesterday" href="#">昨天</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="all" href="#">所有</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="routine" href="#">日常</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="safety" href="#">安全</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="followup" href="#">跟踪</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="closed" href="#">关闭</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="projectManager" href="#">提交</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="my_responsible" href="#">负责跟踪</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="my_private" href="#">我的隐私</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my_public" href="#">我的公开</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my" href="#">我的所有</a>
      </li>
    </ul>
  </div>
 </nav>
</div>
<div id="div-menu-selected">我的负责跟踪</div>



<!--

<button id="today" class="btn btn-secondary btn-lg"  >今天</button>
<button id="yesterday" class="btn btn-secondary btn-lg"  >昨天</button>
<button id="all" class="btn btn-secondary btn-lg"  >所有</button><br><br>
<button id="routine" class="btn btn-secondary btn-lg"  >日常</button>
<button id="safety" class="btn btn-secondary btn-lg"  >安全</button><br><br><br>
<button id="followup" class="btn btn-secondary btn-lg"  >跟踪</button>
<button id="closed" class="btn btn-secondary btn-lg"  >关闭</button>
<button id="projectManager" class="btn btn-secondary btn-lg" >提交</button><br><br>
<button id="my_private" class="btn btn-secondary btn-lg"  >我的隐私</button>
<button id="my_public" class="btn btn-secondary btn-lg" >我的公开</button><br><br>
-->

<script>
    function today(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/today");
      xhttp.send();
    }
    function yesterday(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/yesterday");
      xhttp.send();
    }
    function all(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/all");
      xhttp.send();
    }
    function routine(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/routine");
      xhttp.send();
    }
    function safety(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/safety");
      xhttp.send();
    }
    function followup(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/followup");
      xhttp.send();
    }
    function closed(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/closed");
      xhttp.send();
    }
    function projectManager(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/projectManager");
      xhttp.send();
    }
    function my_responsible(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/my_responsible");
      xhttp.send();
    }
    function my_private(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/my_private");
      xhttp.send();
    }
    function my_public(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/my_public");
      xhttp.send();
    }
    function my(){
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function(){
        document.getElementById("div-show").innerHTML = this.responseText;
      };
      xhttp.open("get", "/record_patrol_list/my");
      xhttp.send();
    }
    my_responsible();

    document.getElementById('today').addEventListener("click", today);
    document.getElementById('yesterday').addEventListener("click", yesterday);
    document.getElementById('all').addEventListener("click", all);
    document.getElementById('routine').addEventListener("click", routine);
    document.getElementById('safety').addEventListener("click", safety);
    document.getElementById('followup').addEventListener("click", followup);
    document.getElementById('closed').addEventListener("click", closed);
    document.getElementById('projectManager').addEventListener("click", projectManager);
    document.getElementById('my_responsible').addEventListener("click", my_responsible);
    document.getElementById('my_private').addEventListener("click", my_private);
    document.getElementById('my_public').addEventListener("click", my_public);
    document.getElementById('my').addEventListener("click", my);


    $(document).ready(function(){
      $('a').click(function(){
        $('a').css('background-color','')
        $(this).css('background-color','blue');
        $('#div-menu-selected').text(
          $(this).text()
        );
        $("#filter").text(
          $(this).text()
        );

      })
    })


</script>





<!--

今天

昨天

所有

日常(patrolType=routine)

安全(partrolType=safety)

跟踪(status=followup)<br>

关闭(status=closed)

提交(exposure=projectManager)

我的隐私

我的公开

-->

<br><br><br><br><br>

<div id="div-show">
div
</div>
