<%- include('./include/head') %>

<h3>管理员功能</h3>


<div class="button-group">
  <button type="button" class="btn"><a href='/home'>返回首页</a></button>
  <button type="button" class="btn"><a href='/admin/user_show_all'>所有用户</a></button>
  <button type="button" class="btn"><a href='/admin/zone_show_all'>所有分区</a></button>
  <button type="button" class="btn"><a href='/admin/zone_new'>新建分区</a></button>
  <button type="button" class="btn"><a href='/admin/record_json_all'>record_json_all</a></button>
  <button type="button" class="btn"><a href='/admin/comment_json_all'>comment_json_all</a></button>
  <button type="button" class="btn"><a href='/admin/sharefile_show_all'>sharefile_show_all</a></button>
  <button type="button" class="btn"><a href='/admin/record_patrol_log'>logs</a></button>

</div>
