<%- include('./include/head') %>
<h1>Register</h1>
<div  class="container-fluid">
<form action='/register' method='post'>
  <div>
    <label class="col-12 col-md-12" for="username">用户名 如：zhangsan</label><br>
    <input class="col-9 col-md-11" id="username" name="username" type="text" required><br><br>
  </div>
  <div>
    <label class="col-12 col-md-12" for="nickname">昵称 如：张三</label><br>
    <input class="col-9 col-md-11" id="nickname" name="nickname" type="text" ><br><br>
  </div>
  <div>
    <label class="col-12 col-md-12" for="cellphone">手机 如：18612341234</label><br>
    <input class="col-9 col-md-11" id="cellphone" name="cellphone" type="text" ><br><br>
  </div>
  <div>
    <label class="col-12 col-md-12" for="password">密码 如：xxxx</label><br>
    <input class="col-9 col-md-11" id="password" name="password" type="password" required><br><br>
  </div>
  <button type="submit">Register</button>
</form>
</div>

<script>
  $(":submit").bind('click',function(e){
    e.preventDefault();
    var formData = new FormData(this.form);
    var url = this.form.action;
    var that = this;
    console.log('url:',url);
    $.ajax({
      url: url,
      data: formData,
      processData: false,
      contentType: false,
      type:"POST"
    })
    .done(function(data){
      // console.log('done data:', data);
    })
    .fail(function(xhr,status,errorThrown){
      // console.log('fail xhr, status, errorThrown:', xhr, status, errorThrown);
    })
    .always(function(xhr, status){
      // console.log('always xhr status: ', xhr, status);
      $(that).after(`<div style="color:blue;">${xhr}</div>`);
      $('#username').focus();
    })
  });
</script>
