<h1>Register</h1>

<form action='/register' method='post'>
  <section>
    <label for="username">Username</label>
    <input id="username" name="username" type="text" required> 如：zhangsan
  </section>
  <section>
    <label for="nickname">Nickname</label>
    <input id="nickname" name="nickname" type="text" >  如：张三
  </section>
  <section>
    <label for="cellphone">Cellphone</label>
    <input id="cellphone" name="cellphone" type="text" >  如：18612341234
  </section>
  <section>
    <label for="password">Password </label>
    <input id="password" name="password" type="password" required>  如：xxxx
  </section>
  <button type="submit">Register</button>
</form>
