
<% if  (flag == "nok" ) { %>
    <p> 你未选择任何文件供上传 或 你选择的文件已经有同名文件存在 </p>
    <p> 请选择合适的文件，或更改文件名后再上传。</p>

<% } else if(flag == "ok") { %>
    <p> 你刚才成功上传了: <strong><%= file %></strong> </p>
    <p> 你可以返回 <a href='/home'>首页</a> 或者上传更多... </p>
<% } %>
<br>


<form action="/sharefile" method="post" enctype="multipart/form-data">
  <input type="file" id="file" name="file">
  <input type="text" id="caption" name="caption" placeholder="input attachment caption text" />
  <button type="submit" name="submit">Submit</button>
</form>
