
<% if  (flag == "exists" ) { %>
    <p> The file you are trying to upload already exists: <strong><%= file %></strong> </p>
    <p> Please rename the file before uploading if you do want to upload. </p>
<% } else if(flag == "notSelect") { %>
    <p> You have not select a valid file before hit upload </p>
    <p> Please select the file first. </p>
<% } else if(!flag == "") { %>
    <p> You have just uploaded: <strong><%= file %></strong> </p>
    <p> And you can return to <a href='/home'>home</a> or upload more... </p>
<% } %>
<br>


<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" id="file" name="file">
  <input type="text" id="caption" name="caption" placeholder="input attachment caption text" />
  <button type="submit" name="submit">Submit</button>
</form>
