

<form action="/admin/zone_edit/<%= zone.id %>" method="post"  >
  <input type="text" id="id" name="id" value="<%= zone.id %>"   />
  <input type="text" id="zoneCode" name="zoneCode" value="<%= zone.zoneCode %>"  />
  <input type="text" id="zoneDescription" name="zoneDescription" value="<%= zone.zoneDescription %>"  />
  <button type="submit" name="submit">Submit</button>
</form>
