

<form action="/admin/zone_new" method="post">
  <input type="text" id="zoneCode" name="zoneCode" placeholder="input zone code" />
  <input type="text" id="zoneDescription" name="zoneDescription" placeholder="input zone description" />
  <button type="submit" name="submit">Submit</button>
</form>
