<!DOCTYPE html>
<head>
    <title>上海大歌剧院监理巡查录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/sgoh.css" type="text/css">
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/jquery.js"></script>
    <style>
            .mygs{color:gray;font-size:12px}                  /*my gray small */
            .myt{color:blue;font-size:2em}                    /*my title */
            .myb{background-color: rgb(245, 245, 245);        /*my body */
                white-space: pre-wrap;
                min-width:100%;
                padding-top: 15px;
                padding-bottom: 15px;}
            .mm{max-height: 45%;}                  /*my multimedia */
    </style>
</head>
