<header>
  <div>
    <h2 style="text-align: center;"><a href="/" style=" color:black;"><span class="fa fa-home" style="color:grey;"></span>&nbsp;&nbsp;上海大歌剧院项目</a></h2>
  </div>
   <hr>
</header>
