<% if (record == undefined) { var record = {}} %>
<select name="profession" id="profession">
  <% if (record.profession == "") { %>
    <option value="" selected>请选择专业:</option>
  <% } else { %>
    <option value="" >请选择专业:</option>
  <% } %>

  <% if (record.profession == "steel") { %>
    <option value="steel" selected>steel|钢结构</option>
  <% } else { %>
    <option value="steel">steel|钢结构</option>
  <% } %>

  <% if (record.profession == "civil") { %>
    <option value="civil" selected>civil|土建</option>
  <% } else { %>
    <option value="civil">civil|土建</option>
  <% } %>

  <% if (record.profession == "install") { %>
    <option value="install" selected>install|安装</option>
  <% } else { %>
    <option value="install">install|安装</option>
  <% } %>

  <% if (record.profession == "stage") { %>
    <option value="stage" selected>stage|舞台</option>
  <% } else { %>
    <option value="stage">stage|舞台</option>
  <% } %>
</select><br><br>
