<% var profession=["土建","安装","钢结构", "幕墙", "装修","舞台", "其他"]; %>
<select class="form-select" name="profession" id="profession" style="width:100%">
  <option value="未选择" selected>请选择专业</option>
  <% for (var i=0; i < profession.length; i++){ %>
    <% if (record.profession === profession[i]) {%>
      <option value="<%= profession[i] %>" selected> <%= profession[i] %>%> </option>
    <% } else { %>
      <option value="<%= profession[i] %>"> <%= profession[i] %>%> </option>
    <% } %>
  <% } %>
</select>

