<% include('./include/head.ejs') %>

<div class="container" style="font-size:1.5em; margin: 20px;">

    <h1>公告</h1>
    <hr>
<h3>欢迎使用上海大歌剧院项目监理记录系统</h3>
<div class="mygs">2022年11月23日</div><br>



<p>由本系统正在进一步开发完善阶段，可能不定期进行升级，其间可能出现数据丢失或暂时运行出错，所以在正式版推出之前请将您的重要数据进行备份，在使用遇到问题希望可以及时反馈给开发者。</p>

<p>本系统仅到上海大歌剧院项目组成员开放，您在使用前需要进行用户注册及登录。</p>
<p>注册请使用您的真实中文姓名与可用的电话号码，以方便进行信息的查询及我们内部沟通之用。</p>
<br>
<p>目前本程序为第2版，在如下方面进行了改进：</p>
<ul>    
    <li>照片在上传前在浏览器端进行了预压缩，上传速度大大提高；</li>
    <li>操作完成将有反馈信息显示于操作处，网页保持在原地，通过刷新键更新页面内容。</li>
    <li>每个照片可以针对性地单独添加说明文字，更便于领导或同事明白照片意图。</li>
    <li>领导可以针对每张图片进行批注，并可根据需要指定跟踪负责人。</li>
</ul>

<br>

<p>您可以登录后添加您自己的记录，添加记录时您可以添加文字，图片，备注等。</p>

<p>您可以在添加记录后任何时候继续添加记录的图片，以进一步根据你的想法进行完善。</p>
<p>您可以在自己的记录或其他任何人的记录后面添加您的评论。</p>
<!--您可以修改您自己做的记录或者评论，包括更改文字，替换图片等。-->




<p>请大家积极试用本程序，界面将持续进行改进。如果你在使用过程中碰到任何问题，或者有什么想法或建议，请及时反馈给管理员。电话：18621890022（微信同号）</p>
<p>基于网速与服务器带宽的限制，目前上传文件一次只能传单个文件。如果上传的文件过大可能会有卡顿甚至卡死的情况，所以建议不要上传超过10M的文件。</p>
</div>
<br><br><br><br><br><br><br><br>

<br><br><hr>
<p class="text-muted small">Copyright © 2022 SGOH by myh</p>
<br>
<br>