


<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./include/head.ejs') %>
        <script>
            $(function(){
                $("ul").addClass("nav nav-pills ");
                $("ul li").addClass("nav-item btn");
                $("a").addClass("nav-link");
            })
        </script>
        <style>
          li{
            border:1px solid black;       
            background-color:#EEEEEE;  
            margin: 5px;   
            /* color: black; */
          }
          div{
            margin: 5px;
          }
        </style>
    </head>
    <body>
        <h3>管理员功能</h3>
        <br><br>

        <div>
          <ul>
            <li><a href='/home'>返回首页</a></li>
            <li><a href='/admin/user_show_all'>所有用户</a></li>
            <li><a href='/admin/zone_show_all'>所有分区</a></li>
            <li><a href='/admin/zone_new'>新建分区</a></li>
            <li><a href='/admin/project_new'>新建项目</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href='/admin/record_json_all'>record_json_all</a></li>
            <li><a href='/admin/comment_json_all'>comment_json_all</a></li>
            <li><a href='/admin/sharefile_show_all'>sharefile_show_all</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href='/admin/record_patrol_log'>logs</a></li>
            <li><a href='/admin/record_patrol_errorLog'>errorLogs</a></li>          
          </ul>
        </div>




    </body>

</html>
