extends _layout

block content 
    div(style="margin-left:20px;margin-right:20px;")

        table.table.table-striped.table-bordered 
            each doc in data
                tr 
                    td= doc._id
                    if (doc.Cost == "金额")
                        td.text-end= doc.Cost
                    else
                        td.text-end= Number(doc.Cost).toLocaleString('en-US', {minimumFractionDigits:2,maximumFractionDigits:2})