p tips create

//- 大类 小类或描述 标题 内容 button(添加到数据库)    

form(action='/t/create' method="POST")
    input(type="text" name="cat1")
    input(type="text" name="cat2")
    input(type="text" name="title")
    textarea(name="content", cols="30", rows="10")
    button Submit
    
