p Edit
span #{tip}

//- 单条信息编辑
//- id
//- created
//- modified
//- By
//-     标题
//-     cat1 
//-     cat2
//-     kw
//-     title
//-     content
//-     button(保存以上更改)


//- button(删除该条目) 删除前确认

//- 评论数 Nr.
//- 添加评论或跟贴
//-   Comment 
//-   button(提交)
//-   上传图片视频音频或文件
//-   button(file)
//-   button(上传文件)

//- 已有评论或跟贴：
//-     Index: Nr.
//-     Text / Image / video / File 
//-     button(更改)
//-     button(删除) 删除前确认