
title 上海大歌剧院监理巡视系统
link(rel="icon", type="image/x-icon", href="/public/static/favicon.ico")
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

link(rel="stylesheet", href="/public/css/bootstrap.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

link(rel="stylesheet" href="/public/css/app.css" type="text/css")


script(type="text/JavaScript", src="/public/js/jquery.js")
script(type="text/JavaScript", src="/public/js/bootstrap.js")
script(type="text/JavaScript", src="https://MomentJS.com/downloads/moment.js")
script(type="text/JavaScript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")


