<header>
    <div>
        <h2 style="text-align: center;"><a href="/p/" style=" color:black;"><span class="fa fa-home" style="color:grey;"></span>&nbsp;&nbsp;巡视系统&nbsp;&nbsp;<%= user.projects[0] %></a></h2>
    </div>
    <hr>
</header>