<!DOCTYPE html>
<head>
    <title>上海大歌剧院监理巡查录</title>
    <link rel="icon" type="image/x-icon" href="/public/static/favicon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/sgoh.css" type="text/css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <style>
            /* body{padding-left: 20;} */
            .mygs{color:gray;font-size:12px;}                  /*my gray small */
            .myt{color:blue;font-size:2em;}                    /*my title */
            /* .myb{background-color: rgb(245, 245, 245);        /*my body */
                /* white-space: pre-wrap; */
                /* min-width:100%; */
                /* padding-top: 15px; */
                /* padding-bottom: 15px;} */ 
            .myb{color:blue;font-size:1.2em;}   /* my body font */
            .mm{max-height: 45%;}                  /*my multimedia */
            .response{background-color: lightgrey}
            @media screen {
                img,video{width:40%;}
            }
            @media screen and (max-width:700px) {
                img,video{width:100%;margin-left: 5px;margin-right: 5px;}
            }
            .comments{
                background-color: azure;
            }


    </style>
</head>
