<!DOCTYPE html>
<html>
    <head>
        <%- include("../include/head.ejs") %>
    </head>

    <body>

        Test for full text search

        <form action="/m/text_search" method="POST">
            <input type="text" name="queryString" id="query" />
            <button type="submit">提交</button>
        </form>





    </body>






</html>