<%- include('../include/head.ejs') %>


<div class="img-wrap">
		<span   class="close">&times;</span>
		<a id="div2" href><img src="/public/1.jpg" style="width: 100px; height: 100px;" alt=""></a>
</div>

<p> &times;</p>