doctype html
html
  head


    include ../../../public/html/_head.pug
    include _css.pug

    script(type="application/javascript", src="/public/js/my-tinymce-config.js")
    title 巡视系统 - 知识与博文 

  body
    include ../../../public/html/_menu_top.pug
    //- include ../../../public/html/_header.pug


    h1 layout
    include _menu.pug


    .container
      block content


    include _footer.pug  




    block scripts
